<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>

    <title>
      FixMyTransport: Report, view and resolve public transport problems
    </title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
      <meta name="google-site-verification" content="zPHNmLfxFG2lR8dLjpuwQsqG5uE_2dmPvrmd2HasbJQ" />

    <meta name="viewport" content="width=device-width" />

      <meta property="fb:app_id" content="189807807734957"/>
  <meta property="og:title" content="FixMyTransport" />
  <meta property="og:url" content="http://www.fixmytransport.com/"/>
  <meta property="og:image" content="http://www.fixmytransport.com/images/logo-fb.jpg"/>
  <meta property="og:site_name" content="FixMyTransport"/>


    <meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="+/xOolkMUjIDxdL5ENws7wwFaTDlBwKPVKf6c8slW9E="/>
    <link href="http://cdn-assets1.fixmytransport.com/rel-1420528116/stylesheets/main.css?1420528116" media="screen" rel="stylesheet" type="text/css" />

    <!--[if lte IE 7]><link href="http://cdn-assets2.fixmytransport.com/rel-1420528116/stylesheets/ie67.min.css?1420528116" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <!--[if lte IE 8]><link href="http://cdn-assets0.fixmytransport.com/rel-1420528116/stylesheets/ie678.min.css?1420528116" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <!--[if gte IE 9]> <link href="http://cdn-assets2.fixmytransport.com/rel-1420528117/stylesheets/ie9.min.css?1420528117" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/banner.css">

    <script charset="utf-8" src="http://cdn-assets3.fixmytransport.com/rel-1420528112/javascripts/libraries.js?1420528112" type="text/javascript"></script>
    <script type="text/javascript">
      var fmt_facebook_app_id = '189807807734957';
    </script>
    <noscript>
        <link href="http://cdn-assets2.fixmytransport.com/rel-1420528117/stylesheets/no-js.min.css?1420528117" media="screen" rel="stylesheet" type="text/css" />
    </noscript>
  </head>
    <body>

      {{ content }}

    <div class="mobile-only" id="site-name">
  FixMyTransport
</div>




<div class="top-notice" id="conditional-notice">
  <div id="other-country-notice" class="container"></div>
</div>



        <div id="wrapper">

            <div id="top" class="container" role="banner">

                <ul id="mysociety-tab" role="navigation">
                    <li><a id="mysociety-logo" href="http://www.mysociety.org">MySociety</a></li>
                    <li><a href="http://mysociety.org/donate">Donate</a></li>
                    <li><a href="http://www.mysociety.org/projects/">Our Sites</a></li>
                </ul>
                <ul id="top-nav">
                  <li><a href="http://blog.fixmytransport.com">Blog</a></li>
                    <li><a href="http://www.fixmytransport.com/about">About</a></li>
                    <li><a href="http://www.fixmytransport.com/feedback?url=%2F" rel="nofollow">Feedback</a></li>
                </ul>

        <a id="logo" href="http://www.fixmytransport.com/">FixMyTransport</a>

                <p id="member-info">
                  <a class="auth" href="//www.fixmytransport.com/login?redirect=%2F" rel="nofollow">
                  Sign in or sign up</a>
                </p>
            </div>

            <div id="login-box" class="login-box" role="dialog">
	<div id="login-landing" class="pane">
    <div id="login-landing-wrap">
<form action="//www.fixmytransport.com/user_sessions" class="new_user_session" id="login-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="+/xOolkMUjIDxdL5ENws7wwFaTDlBwKPVKf6c8slW9E=" /></div>
    <div class='error' style="display: none;" role="alert"></div>
  <div class='notice' style="display: none;" role="alert"></div>
<ul>
	<li class="login-username">
		<label for="user_session_email">Email</label>
		<input name="user_session[email]" id="user_session_email" type="text" />
	</li>
	<li class="login-password">
		<label for="user_session_password">Password</label>
		<input name="user_session[password]" id="user_session_password" type="password" />
		<a href="//www.fixmytransport.com/password_resets/new" id="forgot-password">Forgot?</a>
	</li>
	<li>
		<button class="button" type="submit">Sign In</button>
		<label for="user_session_remember_me">Keep me signed in</label><input type="checkbox" class="checkbox" id="user_session_remember_me" name="user_session[remember_me]" value="1" />
		  <input type="hidden" name="redirect" value="//www.fixmytransport.com/" />

	</li>
	<li><a href="//www.fixmytransport.com/privacy" target="_blank" title="Privacy policy (opens in new window)">Privacy policy</a></li>

</ul>
</form>
<div class="login-options">
	<p>Don&#39;t have an account?</p>
	<a href="http://www.fixmytransport.com/account/new" class="button" id="create-account">Create one</a>

	    <p>Sign in with Facebook - We&#39;ll never spam your wall!</p>
	    <a href="#" class="facebook-login">Facebook Connect</a>
</div>
</div>

	</div>

	<div id="login-create-account" class="pane">
		<div class='notice' style="display: none;" role="alert"></div>
<form action="//www.fixmytransport.com/account" class="new_user" id="create-account-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="+/xOolkMUjIDxdL5ENws7wwFaTDlBwKPVKf6c8slW9E=" /></div>  <div class='fieldset'>
      <div class='error error-base' style="display: none;" role="alert"></div>
    <div class='form-field'>
        <div class='error error-name' style="display: none;" role="alert"></div>
      <label for="user_name">Name</label>
      <input id="user_name" name="user[name]" size="30" type="text" />
      <div id="public-name-warning">This name will be published on the site along with your problem report.</div>
    </div>

    <div class='form-field'>
        <div class='error error-email' style="display: none;" role="alert"></div>
      <label for="user_email">Email</label>
      <input id="user_email" name="user[email]" size="30" type="text" />
    </div>

    <div class='form-field'>
          <div class='error error-password' style="display: none;" role="alert"></div>
      <label for="user_password">Password</label>
      <input id="user_password" name="user[password]" size="30" type="password" />
    </div>

    <div class='form-field'>
          <div class='error error-password_confirmation' style="display: none;" role="alert"></div>
      <label for="user_password_confirmation">Password confirmation</label>
      <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />
    </div>

	<button class="button" type="submit">Create Account</button>

  </div>
</form><div class="login-options">
  <p>Have an account?</p>
	<a href="http://www.fixmytransport.com/login" class="button" id="login-to-account">Sign In</a>
	    <p>Sign in with Facebook</p>
	    <a href="#" class="facebook-login">Facebook Connect</a>
      <div id="create-account-privacy">

       <div>
        <a href="//www.fixmytransport.com/privacy" target="_blank" title="Privacy policy (opens in new window)">Privacy policy</a>
       </div>
       </div>
</div>

	</div>

	<div id="login-forgot-password" class="pane">
    <div id="login-landing-wrap">
  <div id="password-reset">
    <div class="forgot-instructions">
      Enter your e-mail address, then click Continue. We&#39;ll email you a link to a page where you can easily create a new password.
    </div>
    <form action="//www.fixmytransport.com/password_resets" class="password_reset_email" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="+/xOolkMUjIDxdL5ENws7wwFaTDlBwKPVKf6c8slW9E=" /></div>

  <div class="form-field">

    <label>Email</label>
        <div class='error error-email' style="display: none;"></div>
    <input id="email" name="email" type="text" value="" />
  </div>
  <button class="button" type="submit">
    Continue
  </button>
</form>
  </div>
  <div class="login-options">
  <p>Don&#39;t have an account?</p>
  <a href="http://www.fixmytransport.com/account/new" class="button" id="create-account">Create one</a>
  <p>Know your password?</p>
  <a href="http://www.fixmytransport.com/login" class="button" id="login-to-account">Sign In</a>
  </div>
</div>
	</div>



</div>

            <div id="frontpage-top" class="container">
  <div class="leftcol widecol">
    <ul id="frontpage-problem-scroller">
      <li>
        <h1>Had a bad train journey?</h1>
      </li>
      <li>
        <h1>Bus didn’t show up?</h1>
      </li>
      <li>
        <h1>Smelly ferry?</h1>
      </li>
    </ul>
    <p class="font-1">Report your problem with&nbsp;a:</p>

    <div class="button-col">
     <a href="http://www.fixmytransport.com/problems/find_stop_type" class="font-1 button green">STOP or STATION</a>

      <div class="button-explanation">
        Examples: poor facilities or accessibility, missing timetables, dirt or litter.
      </div>
    </div>

    <div class="button-col">
      <a href="http://www.fixmytransport.com/problems/find_route" class="font-1 button green">JOURNEY or ROUTE</a>
      <div class="button-explanation">
        Examples: overcrowding, late buses or trains, fare and ticket problems.
      </div>
    </div>

    <p class="font-1">and we will send it to the company&nbsp;responsible.</p>
    <p class="font-1">Or see <a href="http://www.fixmytransport.com/issues/browse?geolocate=1">issues near you</a>.</p>

    <div id="followus" class="font-1">
      <a href="http://www.facebook.com/pages/FixMyTransport/208222939208330" target="_blank" title="Facebook (opens in a new window)">
        <span class="icon facebook"></span>
        <span class="facebook-text">Follow us on Facebook</span>
      </a>
      <a href="http://twitter.com/FixMyTransport" title="Twitter (opens in a new window)" target="_target">
        <span class="icon twitter"></span>
        <span class="twitter-text">Follow us on Twitter</span>
      </a>
    </div>
  </div>

  <div id="what-it-does" class="rightcol narrowcol" >
    <h2>What FixMyTransport does</h2>
    <ul id="secret-list">
      <li class="secret-report">Reports problems</li>
      <li class="secret-find">Finds people responsible</li>
      <li class="secret-grow">Grows support</li>
      <li class="secret-track">Tracks progress</li>
      <li class="secret-done">Gets things done</li>
    </ul>

      <a href="#how-it-works" class="font-1 button">How does it work?</a>
  </div>

</div>


<div id="frontpage-banner" class="blue">
  <div class="container">
    <div id="frontpage-banner-left">
      <div class="dotted-white">&nbsp;</div>
      <div class="left">
        <h2 class="font-1">Welcome to FixMyTransport</h2>
        <p>
        You can use this site to contact any transport operator in the UK - we'll
        send your message direct to their Customer Services department. We put it
        online, too. That way, others can read your problems, and offer support and
        advice.
        </p>
        <p>
        And it works! Take a look at some of our recently fixed problems and find
        out why our users are saying:
        </p>
        <ul>
          <li><a href="http://www.fixmytransport.com/campaigns/change-train-times-from-london-bridg">Amazing - they've done it!</a></li>
          <li><a href="http://www.fixmytransport.com/campaigns/treat-their-regular-customers-with-r">The conclusion of matters had a lot to do with my posting on your website after almost 2 months of inaction.</a></li>
          <li><a href="http://www.fixmytransport.com/problems/1635">My bus service has really improved and I'm not the only one benefiting from this.</a></li>
          <li><a href="http://www.fixmytransport.com/problems/1804">Thanks for your help in resolving this.</a></li>
          <li><a href="http://www.fixmytransport.com/problems/748">Well done and thanks for your assistance.</a></li>
          </ul>
        <p>
        FixMyTransport is completely independent - we don't have any affiliation
        with any transport operators. See below for an explanation of how it all
        works.
        </p>
        <p>
              And if you've got a problem with your transport? Go ahead and let the
              operators know.
        </p>
      </div>
      <a href="http://www.flickr.com/photos/amanky/123970168/"><img alt="" class="right" src="http://cdn-assets2.fixmytransport.com/rel-1420527616/images/scrabble.jpg?1420527616" /></a>
      <p style="float: right">Image by Amancay Maahs</p>
      <div class="dotted-white">&nbsp;</div>
    </div>
    <div id="frontpage-banner-right">
      <h2 class="font-1">Browse Site</h2>
      <ul>
        <li><a href="http://www.fixmytransport.com/issues" class="font-1">View recent issues</a></li>
        <li><a href="http://www.fixmytransport.com/routes" class="font-1">View routes by region</a></li>
        <li><a href="http://www.fixmytransport.com/issues/browse" class="font-1">Map of issues</a></li>
        <li><a href="http://www.fixmytransport.com/guides" class="font-1">Guides and How-Tos</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="how-it-works" class="container">
  <div id="fg-head">
    <div id="fg-head-inner">
      <h2 class="font-1">How does it work?</h2>
      <p>We give you the tools to report your public transport problems to the correct operator or authority.</p>
      <p>All reports and responses are posted online so that other people can support, respond and give advice.</p>
    </div>
  </div>
  <ol id="frontpage-grid">
    <li class="fg-top">
      <div id="fg-img-1" class="fg-img"></div>
      <h3 class="font-1">1. Report your problem</h3>
      <p>It might have been a one-off incident you’d just like to log, or a recurring problem you’d like fixing.</p>
    </li>
    <li class="fg-top end">
      <div id="fg-img-2" class="fg-img"></div>
      <h3 class="font-1">2. Find who&#39;s responsible</h3>
      <p>From the information you provide we can send your problem through to the correct department of the operator or local authority in charge.</p>
    </li>

    <span class="fg-bottom">
    <li>
      <div id="fg-img-3" class="fg-img"></div>
      <h3 class="font-1">3. Gather support</h3>
      <p>All reports are posted to the site, and you can share them with friends, followers and fellow passengers.</p>
    </li>
    <li>
      <div id="fg-img-4" class="fg-img"></div>
      <h3 class="font-1">4. Track progress</h3>
      <p>Gather responses, comments and advice from operators, authorities, supporters, and our own transport boffins.</p>
    </li>
    <li class="end">
      <div id="fg-img-5" class="fg-img"></div>
      <h3 class="font-1">5. Get it sorted!</h3>
      <p>See your campaign gain momentum - and hopefully get resolved. Get a warm fuzzy feeling because you made public transport better for everybody.</p>
    </li>
    </span>
  </ol>
</div>


            <div id="goto-top-wrap" class="container">
                <a href="#top" class="goto-top right">Top of page</a>
            </div>
        </div>

      <div id="footer">
  <div class="container">
      <div class="mobile-only">
          <ul id="mob-footer-nav">

          <li><a href="http://www.fixmytransport.com/about">About</a></li>
          <li><a rel="nofollow" href="http://www.fixmytransport.com/feedback?url=%252F">Feedback</a></li>
          <li><a href="http://blog.fixmytransport.com">Blog</a></li>
          <li><a href="//www.fixmytransport.com/login?redirect=%2F" rel="nofollow">Sign in or sign up</a></li>
        </ul>
      </div>
      <p><a href="//www.fixmytransport.com/privacy">Privacy and cookies</a>
      </p>
    <p>Built by <a href="http://mysociety.org">mySociety</a>, which is supported by the <a href="http://indigotrust.wordpress.com/">Indigo Trust</a>, the <a href="http://www.esmeefairbairn.org.uk">Esmée Fairbairn Foundation</a>, the <a href="http://www.omidyar.com/">Omidyar Network</a> and many <a href="http://mysociety.org/donate">small donors</a>.</p>
    <p>Dedicated to <a href="http://www.mysociety.org/2009/07/20/rip-angie-ahl-1974-2009/">Angie Martin</a>.
    </p>
  </div>
</div>

      <div id="fb-root-container"><div id="fb-root"></div></div>

        <script charset="utf-8" src="http://cdn-assets0.fixmytransport.com/rel-1420528108/javascripts/main.js?1420528108" type="text/javascript"></script>
        <!--[if lte IE 8]><script charset="utf-8" src="http://cdn-assets3.fixmytransport.com/rel-1420528109/javascripts/ie.min.js?1420528109" type="text/javascript"></script>
<script charset="utf-8" src="http://cdn-assets3.fixmytransport.com/rel-1420527616/javascripts/jquery.ifixpng2.min.js?1420527616" type="text/javascript"></script><![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24232514-1']);
      _gaq.push(['_gat._anonymizeIp']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>



    </body>
</html>
